<% provide(:title, "Home") %>

<h1>Hello, Rails!</h1>
<p><%= link_to "tiny button", "#herf", class: "btn-sm btn-default" %></p>
<p><%= link_to "tiny button alert radius", "#herf", class: "btn-sm btn-default" %></p>