<% content_for :title, navigation %>
<div class="col-sm-offset-3 col-sm-7 above_title"></div>
<div class="col-sm-offset-3 col-sm-7 title">
  <h5 class="text-center">Nova Profissão</h5>
</div>

<%= render 'form' %>