<div class="artist-pictures">
  <%= div_for picture, class: "col-sm-2 images" do %>
    <%= link_to(picture.image_url(:normal), data: {lightbox: "imagem"}, title: picture.info) do %>
      <% image_tag picture.image_url(:thumb), title: picture.info, class: "center-block" %>
    <% end -%>
    <p class="text-center">
      <%= link_to([@imageable, picture], data: {confirm: 'Tem certeza?'}, method: :delete, class: 'btn btn-xs btn-labeled btn-danger img-remove', remote: true) do %>
      <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span> Remover
      <% end %>
    </p>
  <% end %>
</div>