/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require select2
 * require select2-bootstrap
 * require bootstrap-tokenfield
 * require jquery-ui
 *= require jasny-bootstrap
 *= require token-input-facebook
 *= require token-input
 *= require lightbox
 *= require font-awesome
 *= require validationEngine.jquery
 *= require jquery.bxslider
 *= require sidebar
 *= require_self
 *= require_tree .
 */
// $topbar-bg: #006633 !default;
@import "bootstrap";
@import "bootstrap/theme";

body{
  padding-top: 70px;
}

div.main{
  // border: 1px solid;
}

div.side{
  border: 1px solid;
}

input.fill{
  font-weight    : bolder;
  // text-transform : uppercase;
  letter-spacing : 1px;
  color          : #006633 !important;
}

ul.token-input-list-facebook{
  width: 483px;
}

div.token-input-dropdown-facebook{
  width: 483px;
}

small.original-name{
  border-bottom: 5px solid #a6b2a4;
}

section.show-profile{
  padding-top: 30px;

  .show-profile-right-side{
    padding-left: 1px;
  }
}

a#home{
  font-weight: bolder;
  color: #EA9618;
  &:hover{
    color: #fff;
  }
}


