p#total-films{
  margin-top: 50px;
  border-bottom: 5px solid #a6b2a4;
  font-size: 14px;
  // text-align: center;
}

p#total-artists{
  border-bottom: 5px solid #a6b2a4;
  font-size: 14px;
  // text-align: center;
}

p.side-list{
  font: Verdana;
  // text-align: justify;
  // margin-top: 1px !important;
  // padding-top: 1px !important;
  font-size: 12px;
}

.d-create{
  color: #E17D03;
}

span.total{
  color: #029932;
  font-style: italic;
}